<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity=sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= person.name %></h1>
    <h2><%= person.age %></h2>
    <h3><a href="profile" >profile</a></h3>
     <h3><a href="add" >add me</a></h3>
    <table class="table table-inverse">
    	<tr>
    		<th>
    			Symbol no.
    		</th>
    		
    		
    		<th>
    			Name
    		</th>
    		
    		<th>
    			College
    		</th>
    		<th>
    			action
    		</th></tr>
    		
    	
    </table>
  


  </body>
</html>
